# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
*.log.*

# Diretórios de build
/dist
/build

# Dependências específicas de editor
.vscode/
.idea/

# Arquivos de configuração do ambiente -- Descomentados de propósito para fins de exibição, idealmente essas informações sensíveis não devem ser compartilhadas
# .env
# .env.local
# .env.development
# .env.test
# .env.production

# Cache de pacotes
.pnp/
.pnp.js

# Arquivos temporários
*.swp
*.swo

# Arquivos de compilação
*.tsbuildinfo
